<!doctype html>
<html ng-app="DemoApp">
  <head>
    <title></title>
    <link href="styles/demo.css" rel="stylesheet">
  </head>
  
  <body ng-controller="MainCtrl">
    
    <site-nav></site-nav>
    <div class="nav-offset"></div><!-- .nav-offset -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Directives.</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h3>Toggleable.</h3>
          <p>Via <code>toggleable</code> and <code>glyphicon</code>.</p>
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6">
          <div class="well" toggleable>
            <label>
              <glyphicon></glyphicon> <a ng-click="toggle()">Toggle</a> &mdash;
              <a ng-click="turnOn()">on</a> /
              <a ng-click="turnOff()">off</a>
            </label>
            <p ng-show="isOn()">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, non nobis. Soluta magnam nihil, ea modi!
            </p>
          </div><!-- .well -->

          <div class="well" toggleable="1">
            <label>
              <glyphicon></glyphicon> <a ng-click="toggle()">Starts open</a>
            </label>
            <p ng-show="isOn()">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, non nobis. Soluta magnam nihil, ea modi!
            </p>
          </div><!-- .well -->

          <div class="well" toggleable="0">
            <label>
              <glyphicon></glyphicon> <a ng-click="toggle()">Starts closed</a>
            </label>
            <p ng-show="isOn()">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, non nobis. Soluta magnam nihil, ea modi!
            </p>
          </div><!-- .well -->
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->
      
      <hr>

      <div class="row">
        <div class="col-sm-6">
          <h3>Edit cookies</h3>
          <p>Quickly edit the value of cookie. Useful for setting default values.</p>
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6">
          <edit-cookie name="defaultEmail" label="Email"></edit-cookie>
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->

      <hr>

      <div class="row">
        <div class="col-sm-6">
          <h3>Dates</h3>
          <p>
            Directives for legal age check and string to date conversion. Also provides
            an <code>age</code> filter.
          </p>
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6">
          <form name="dateForm">
            <div class="form-group" ng-class="{'has-error': dateForm.date1.$invalid}">
              <label class="control-label">Australian</label>
              <input type="text" name="date1" class="form-control" placeholder="dd/mm/yyyy"
                  ng-model="date1"
                  of-legal-age to-iso-date-string />
              <p class="help-block" ng-if="dateForm.date1.$error.ofLegalAge">
                You are not old enough</p>
            </div>
            <p>
              <label>Raw:</label> {{ date1 }}<br>
              <label>Filtered:</label> {{ date1 | date }}<br>
              <label>Age:</label> {{ date1 | age }}
            </p>
            <div class="form-group" ng-class="{'has-error': dateForm.date2.$invalid}">
              <label class="control-label">American</label>
              <input type="text" name="date2" class="form-control" placeholder="mm/dd/yyyy"
                  ng-model="date2"
                  to-iso-date-string="MM/DD/YYYY" />
              <p class="help-block" ng-if="dateForm.date2.$error.ofLegalAge">
                You are not old enough</p>
            </div>
            <p>
              <label>Raw:</label> {{ date2 }}<br>
              <label>Filtered:</label> {{ date2 | date }}<br>
              <label>Age:</label> {{ date2 | age }}
            </p>
          </form>
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->

    </div><!-- .container-fluid -->

    <footer></footer>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>

    <script src="scripts/module.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/directives/site-nav.js"></script>
    <script src="scripts/directives/footer.js"></script>
    <script src="scripts/directives/mailing-list-form.js"></script>
    <script src="scripts/directives/toggleable.js"></script>
    <script src="scripts/directives/edit-cookie.js"></script>
    <script src="scripts/directives/to-iso-date-string.js"></script>
    <script src="scripts/directives/of-legal-age.js"></script>
    <script src="scripts/filters/age.js"></script>

    <script>
      window.urls = {
        website: 'http://dev.lifeletters.com/',
        mailingListService: 'https://lluserprod.herokuapp.com/',
      };
      angular.module('DemoApp', [
          'life.common',
        ])
        .controller('MainCtrl', function($scope) {
          $scope.dob = null;
          $scope.$watch('dob', function() {
            console.log($scope.dob);
          });
        });
    </script>
  </body>
</html>
